:root {
  --card-color: white;
  --button-color: #DF0340;
  --front-color: #ea668a;

  --bg-color-main: #fafafa;
  --bg-color-sidebar: #f5f5f5;
  --bg-color-line: #f0f0f0;

  --text-color-title: #525866;
  --text-color-regular: #747884;
  --text-color-disable: #CBCCD1;
}

body {
  background: var(--bg-color-main);
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC",
    "WenQuanYi Micro Hei", sans-serif;
  color: var(--text-color-regular);
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color-regular);
}

a:hover{
  color: var(--button-color) ;
}



/* header --------------------------------------------------  */

.nav {
  height: 60px;
  width: 100%;
  background: var(--card-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.04);
}

.nav-content {
  width: 1068px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.image {
  background: url("http://plpnhf0ux.bkt.clouddn.com/zocResearch.svg") no-repeat -312px -12px;
  width: 195px;
  height: 24px;
  margin-top: 18px;
  display: inline-block;
}

.nav-content div:nth-child(2) {
  position: absolute;
  right: 0px;
  top: 18px;
}

.indicator {
  width: 400px;
  height: 4px;
  background: var(--bg-color-sidebar);
  border-radius: 4px;
  position: relative;
}

.indicator div {
  position: absolute;
  height: 4px;
  width: 80px;
  background: var(--button-color);
  border-radius: 4px;
}

.module {
  padding: 0;
  font-size: 12px;
  margin: 4px 0 0 0;
  color: var(--text-color-disable);
  font-weight: 300;
}

.module li {
  display: inline-block;
  width: 80px;
  text-align: right;
}












/* title of each question --------------------------------------------------  */

/* Question */
.question {
  font-size: 28px;
  max-width: 730px;
  line-height: 40px;
  margin: 0 0 4px 0;
  font-weight: 400;
  color: var(--text-color-title);
}

.example {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  max-width: 730px;
}

.path {
  max-width: 730px;
  border-bottom: 1px solid var(--bg-color-line);
  font-size: 12px;
  line-height: 20px;
  margin: 16px 0 0 0;
}

.path span {
  background: var(--bg-color-line);
}

.path span:nth-child(1) {
  padding: 4px 16px 4px 12px;
  position: relative;
}
.path span:nth-child(2) {
  padding: 4px 20px 4px 12px;
  position: relative;
}

.path span:nth-child(1)::after{
  content: "";
  width: 2px;
  height: 22px;
  position: absolute;
  right: 3px;
  top: 0px;
  background: var(--bg-color-main);
  transform: skew(20deg);
}


.path span:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-left: 10px solid transparent;
  border-top: 22px solid var(--bg-color-main);
}














/* Cards of each question --------------------------------------------------  */

/* Every item in model */
.item {
  width: 730px;
  height: 388px;
  display: flex;
  justify-content: space-between;
}

/* The answer cards */
.answer {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  width: 160px;
  height: 200px;
  background: var(--card-color);
  border-radius: 16px;
  box-shadow: 0 8px 12px 0 rgba(198, 208, 235, 0.15);
  transition: all 0.4s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
  line-height: 320px;
  text-align: center;
  font-weight: 400;
  margin-top: 48px;
}

/* answer cards hover&active */
.answer:hover {
  box-shadow: rgba(198, 208, 235, 0.5) 0px 30px 60px;
  transform: scale3d(1.05, 1.05, 1);
  z-index: 1;
}
.answer:active {
  transform: translateY(2px);
  background: #fffdf5;
}

/* Hide the browser's default radio button */
.answer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  filter: saturate(0);
  width: 48px;
  height: 48px;
  position: absolute;
  left: 56px;
  top: 60px;
  transition: all 0.3s;
  border-radius: 50%;
}

.item label:nth-child(1) span {
  background: url("http://plpnhf0ux.bkt.clouddn.com/zocResearch.svg") no-repeat
    0 0;
}
.item label:nth-child(2) span {
  background: url("http://plpnhf0ux.bkt.clouddn.com/zocResearch.svg") no-repeat -78px
    0;
}
.item label:nth-child(3) span {
  background: url("http://plpnhf0ux.bkt.clouddn.com/zocResearch.svg") no-repeat -156px
    0;
}
.item label:nth-child(4) span {
  background: url("http://plpnhf0ux.bkt.clouddn.com/zocResearch.svg") no-repeat -234px
    0;
}

/* On mouse-over */
.answer:hover input ~ .checkmark {
  transform: scale3d(1.18, 1.18, 1);
}

/* When the radio button is checked, add a checked effect */
.answer input:checked ~ .checkmark {
  filter: saturate(1);
  box-shadow: 0px 0px 0px 4px white, 0px 0px 0px 8px rgba(0, 0, 0, 0.07);
}














/* button --------------------------------------------------  */

.button-area{
  width: 730px;
  height: 100%;
}

.commit{
  width: 320px;
  height: 60px;
  background: var(--button-color);
  border-radius: 40px;
  text-align: center;
  line-height: 60px;
  color: var(--card-color);
  margin: 80px auto 200px auto;
  cursor: pointer;
  box-shadow: 0 16px 48px -12px var(--front-color);
  transition: all 0.1s; 
  user-select: none;
  text-decoration: none;
}

.commit:hover{
  filter: brightness(1.12);
  transform: translateY(-2px);
}

.commit:active{
  filter: brightness(0.95);
  transform: translateY(2px);
  box-shadow: 0 12px 24px -8px var(--front-color);
}














/* sidebar --------------------------------------------------  */

.sidebar {
  width: 100vw;
  height: calc(100vh - 168px);;
  background: var(--bg-color-sidebar);
  padding: 168px 0 0 20px;
}

.sidebar-indicator{
  font-size: 12px;
  border-bottom: 1px solid var(--bg-color-line);
  width: 258px;
  margin: 0;
  padding-bottom: 4px;
}

.sidebar-list{
  font-size: 12px;
  line-height: 20px;
  padding: 8px 0 0 0px;
  margin: 0;
  max-width: 258px;
  overflow-y: auto;
  height: calc(100vh - 204px);
}

.sidebar-item {
  margin: 12px 0;
}

.sidebar-item:hover{
  color: var(--button-color);
  cursor: pointer;
}


.sidebar-list::-webkit-scrollbar {
  width: 8px;
}
 
.sidebar-list::-webkit-scrollbar-thumb {
  background: var(--bg-color-sidebar);
  border-radius: 4px;
  transition: all 0.3s;
}
.sidebar-list:hover::-webkit-scrollbar-thumb {
  background: var(--text-color-disable);
  border-radius: 4px;
}

.sidebar-list::-webkit-scrollbar-track {
  background: transparent;
}















/* result --------------------------------------------------  */

.result{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}